services:

  # ================= MYSQL =================
  mysql:
    image: mysql:8
    container_name: reddit-mysql
    environment:
      MYSQL_ROOT_PASSWORD: yash8252
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./init-db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p$MYSQL_ROOT_PASSWORD"]
      interval: 5s
      timeout: 5s
      retries: 10


  # ================= KAFKA =================
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_CLUSTER_ID: reddit-kraft-cluster
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1


  # ================= EUREKA =================
  discovery-server:
    build:
      context: .
      dockerfile: discovery-server/Dockerfile
    image: reddit-discovery-server
    container_name: discovery-server
    ports:
      - "8761:8761"


  # ================= AUTH =================
  auth-service:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    image: reddit-auth-service
    container_name: auth-service

    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
      discovery-server:
        condition: service_started

    ports:
      - "8090:8090"

    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/reddit_authdb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: yash8252

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka

      JWT_SECRET_KEY: mysupersecurekeyformysafarsaathijwt1234567890abcdefABCDEF1234567890


  # ================= USER =================
  user-service:
    build:
      context: .
      dockerfile: user-service/Dockerfile
    image: reddit-user-service
    container_name: user-service

    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
      discovery-server:
        condition: service_started

    ports:
      - "8091:8091"

    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/reddit_userdb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: yash8252

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka


  # ================= POST =================
  post-service:
    build:
      context: .
      dockerfile: post-service/Dockerfile
    image: reddit-post-service
    container_name: post-service

    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
      discovery-server:
        condition: service_started

    ports:
      - "8092:8092"

    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/reddit_postdb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: yash8252

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka


  # ================= FEED =================
  feed-service:
    build:
      context: .
      dockerfile: feed-service/Dockerfile
    image: reddit-feed-service
    container_name: feed-service

    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
      discovery-server:
        condition: service_started

    ports:
      - "8093:8093"

    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/reddit_feeddb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: yash8252

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka


  # ================= VOTE =================
  vote-service:
    build:
      context: .
      dockerfile: vote-service/Dockerfile
    image: reddit-vote-service
    container_name: vote-service

    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
      discovery-server:
        condition: service_started

    ports:
      - "8094:8094"

    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/reddit_votedb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: yash8252

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka


  # ================= KARMA =================
  karma-service:
    build:
      context: .
      dockerfile: karma-service/Dockerfile
    image: reddit-karma-service
    container_name: karma-service

    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
      discovery-server:
        condition: service_started

    ports:
      - "8095:8095"

    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/reddit_karmadb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: yash8252

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka


  # ================= NOTIFICATION =================
  notification-service:
    build:
      context: .
      dockerfile: notification-service/Dockerfile
    image: reddit-notification-service
    container_name: notification-service

    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
      discovery-server:
        condition: service_started

    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/reddit_notificationdb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: yash8252

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka


  comment-service:
    build:
      context: .
      dockerfile: comment-service/Dockerfile
    image: reddit-comment-service
    container_name: comment-service

    depends_on:
      mysql:
        condition: service_healthy
      discovery-server:
        condition: service_started

    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/reddit_notificationdb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: yash8252
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka


  api-gateway:
    image: reddit-api-gateway
    container_name: api-gateway

    depends_on:
      discovery-server:
        condition: service_started

    ports:
      - "8081:8081"

    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka
      JWT_SECRET_KEY: mysupersecurekeyformysafarsaathijwt1234567890abcdefABCDEF1234567890



  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - auth-service
      - user-service


  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    volumes:
      - grafana-data:/var/lib/grafana


  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"





volumes:
  mysql-data:
  grafana-data:
