version: "3.9"

services:

  # ---------------- MYSQL ----------------
  mysql:
    image: mysql:8
    container_name: reddit-mysql
    environment:
      MYSQL_ROOT_PASSWORD: yash8252
      MYSQL_DATABASE: reddit_notificationdb
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-p$MYSQL_ROOT_PASSWORD" ]
      interval: 5s
      timeout: 5s
      retries: 10



  # ---------------- KAFKA (KRaft) ----------------
  kafka:
   image: apache/kafka:3.7.0
   container_name: kafka

   ports:
    - "9092:9092"

   environment:
    KAFKA_NODE_ID: 1
    KAFKA_PROCESS_ROLES: broker,controller

    KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

    KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
    KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092

    KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
    KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
    KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

    KAFKA_CLUSTER_ID: reddit-kraft-cluster
    KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1



  #  # ---------------- EUREKA ----------------
  discovery-server:
    image: reddit-discovery-server
    container_name: discovery-server
    ports:
      - "8761:8761"


  # ---------------- NOTIFICATION ----------------
  notification-service:
    image: reddit-notification-service
    container_name: notification-service
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
      discovery-server:
        condition: service_started

    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/reddit_notificationdb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: yash8252

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka


volumes:
  mysql-data:
  kafka-data:
