version: "3.9"

services:

  # ---------------- MYSQL ----------------
  mysql:
    image: mysql:8
    container_name: reddit-mysql
    environment:
      MYSQL_ROOT_PASSWORD: yash8252
      MYSQL_DATABASE: reddit_notification
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql


  # ---------------- KAFKA (KRaft) ----------------
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      # Enable KRaft
      KAFKA_ENABLE_KRAFT: "yes"
      KAFKA_CFG_PROCESS_ROLES: broker,controller
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      KAFKA_CFG_NODE_ID: 1

      ALLOW_PLAINTEXT_LISTENER: "yes"

    volumes:
      - kafka-data:/bitnami/kafka


#  # ---------------- EUREKA ----------------
#  discovery-server:
#    build: ./discovery-server
#    container_name: discovery-server
#    ports:
#      - "8761:8761"


  # ---------------- NOTIFICATION ----------------
  notification-service:
    image: reddit-notification-service
    container_name: notification-service
    depends_on:
      - mysql
      - kafka
    ports:
      - "8097:8097"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/reddit_notification
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: yash8252

      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://discovery-server:8761/eureka


volumes:
  mysql-data:
  kafka-data:
