jwt:
  secretKey: mysupersecurekeyformysafarsaathijwt1234567890abcdefABCDEF1234567890

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**
          filters:
            - AuthenticationFilter

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**
          filters:
            - AuthenticationFilter

        - id: post-service
          uri: lb://post-service
          predicates:
            - Path=/post/**
          filters:
            - AuthenticationFilter

        - id: feed-service
          uri: lb://feed-service
          predicates:
            - Path=/feed/**
          filters:
            - AuthenticationFilter

        - id: vote-service
          uri: lb://vote-service
          predicates:
            - Path=/vote/**
          filters:
            - AuthenticationFilter

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
