jwt:
  secretKey: ${JWT_SECRET_KEY}

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS

      routes:

        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**
          filters:
            - AuthenticationFilter

        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user/**
          filters:
            - AuthenticationFilter

        - id: post-service
          uri: lb://POST-SERVICE
          predicates:
            - Path=/post/**
          filters:
            - AuthenticationFilter

        - id: feed-service
          uri: lb://FEED-SERVICE
          predicates:
            - Path=/feed/**
          filters:
            - AuthenticationFilter

        - id: vote-service
          uri: lb://VOTE-SERVICE
          predicates:
            - Path=/vote/**
          filters:
            - AuthenticationFilter

        - id: karma-service
          uri: lb://KARMA-SERVICE
          predicates:
            - Path=/karma/**
          filters:
            - AuthenticationFilter

        - id: comment-service
          uri: lb://COMMENT-SERVICE
          predicates:
            - Path=/comment/**
          filters:
            - AuthenticationFilter

        - id: notification-service
          uri: lb://NOTIFICATION-SERVICE
          predicates:
            - Path=/notification/**
          filters:
            - AuthenticationFilter


server:
  port: 8081


eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://discovery-server:8761/eureka}
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true


logging:
  level:
    org.springframework.cloud.gateway: DEBUG
