jwt:
  secretKey: ${JWT_SECRET_KEY}

server:
  port: 8081

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS

      routes:
        - id: actuator
          uri: http://localhost:8081
          predicates:
            - Path=/actuator/**

        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**
          filters:
            - AuthenticationFilter
            - name: CircuitBreaker
              args:
                name: authCB
                fallbackUri: forward:/fallback/auth


        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user/**
          filters:
            - AuthenticationFilter

        - id: post-service
          uri: lb://POST-SERVICE
          predicates:
            - Path=/post/**
          filters:
            - AuthenticationFilter
            - name: CircuitBreaker
              args:
                name: authCB
                fallbackUri: forward:/fallback/auth


        - id: feed-service
          uri: lb://FEED-SERVICE
          predicates:
            - Path=/feed/**
          filters:
            - AuthenticationFilter

        - id: vote-service
          uri: lb://VOTE-SERVICE
          predicates:
            - Path=/vote/**
          filters:
            - AuthenticationFilter

        - id: karma-service
          uri: lb://KARMA-SERVICE
          predicates:
            - Path=/karma/**
          filters:
            - AuthenticationFilter

        - id: comment-service
          uri: lb://COMMENT-SERVICE
          predicates:
            - Path=/comment/**
          filters:
            - AuthenticationFilter

        - id: notification-service
          uri: lb://NOTIFICATION-SERVICE
          predicates:
            - Path=/notification/**
          filters:
            - AuthenticationFilter


management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "*"

  endpoint:
    health:
      show-details: always

    prometheus:
      enabled: true

  metrics:
    enable:
      all: true

    export:
      prometheus:
        enabled: true

  tracing:
    sampling:
      probability: 1.0

  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans


resilience4j:
  circuitbreaker:
    instances:

      authCB:
        registerHealthIndicator: true
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

      postCB:
        registerHealthIndicator: true
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s




eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://discovery-server:8761/eureka}
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true


logging:
  level:
    org.springframework.cloud.gateway: DEBUG
